div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.translated{
    transform: perspective(10px) translateZ(-10px);
}

.scaled{
    margin: 100px;
    transform: rotate(30deg);
    /* transform: perspective(350px) scaleZ(6) rotateX(45deg) rotateZ(30deg); */
}