.box{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    margin: 10px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right,red,blue);
    background-image: linear-gradient(to top right,white,blue);
}

.mydiv{
    border: 1px solid black;
    margin: 10px;
    height: 200px;
    width: 150px;
    background-image: radial-gradient(circle,red,blue);

}

.ind{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    margin: 10px;
    background-image: linear-gradient(orange,white,green); 
}

